<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-avram" version="1.0.2"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<name>Avram</name>

	<engines>
		<engine name="cordova" version=">=5.0.0"/>
	</engines>

	<js-module name="Avram" src="www/Avram.js">
		<clobbers target="Avram"/>
	</js-module>

	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Avram">
				<param name="android-package" value="cordova.plugin.avram.Avram"/>
			</feature>
		</config-file>

		<source-file src="src/android/Avram.java" target-dir="src/cordova/plugin/avram"/>
		<source-file src="src/android/Response.java" target-dir="src/cordova/plugin/avram"/>
	</platform>

	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="Avram">
				<param name="ios-package" value="Avram"/>
			</feature>
		</config-file>
		<header-file src="src/ios/Avram.h" />
        <source-file src="src/ios/Avram.m" />
	</platform>
</plugin>